*.1 linguist-language=Text
*.2 linguist-language=Text
*.3 linguist-language=Text
*.4 linguist-language=Text
*.5 linguist-language=Text
*.6 linguist-language=Text
*.7 linguist-language=Text
*.8 linguist-language=Text
*.9 linguist-language=Text
*.92 linguist-language=Text
*.94 linguist-language=Text
*.96 linguist-language=Text
*.98 linguist-language=Text
*.99 linguist-language=Text
